extends layout

block content
  div(class="container")
    div(class="row" style="text-align:center;")
      h1|Wordle Clone (Clonle?)
    div(class="col", style="text-align:center;")
      textarea(id="words" cols="10" row="10")
  script(src="./javascripts/engine.js")
